<main>
  <div class="container">
    <div class="col-lg-6 col-md-6">

      <%= form_for(@event_registration) do |f| %>
        <% if @event_registration.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@event_registration.errors.count, "error") %> prohibited this event_registration from being saved:</h2>

            <ul>
              <% @event_registration.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= f.label :name %><br>
          <%= f.text_field :name, {class: "form-control", placeholder: "Enter name"} %>
        </div>
        <div class="form-group">
          <%= f.label :mobile_number %><br>
          <%= f.text_field :mobile_no, {class: "form-control", placeholder: "Mobile Number"} %>
        </div>
        <div class="form-group">
          <%= f.label :college_name %><br>
          <%= f.text_field :college, {class: "form-control", placeholder: "College"} %>
        </div>

        <div class="form-group" id="select-fields">
          <h5><b>Events</b></h5>
        </div>

        <div id="add-event-link">
          <a href="#" class="btn btn-default">Add An Event</a>
        </div>

        <br>

        <div id="total-container" class="well">Collect INR 0</div>

        <br>
        <div class="actions">
          <%= f.submit "Go", {class: "btn btn-default"} %>
        </div>
      <% end %>
    </div>

    <div class="col-lg-6 col-md-6">

      <div class="panel panel-default">
        <div class="panel-heading">
          Recent Registrations
        </div>
        <div class="panel-body">

          <table class="table">
            <thead>
              <tr>
                <th>Token</th>
                <th>Name</th>
                <th>College</th>
                <th>Event</th>
                <th>Amount</th>
              </tr>
            </thead>
            <% @recent_registrations.each do |reg| %>
              <tr>
                <td><%= reg.token %></td>
                <td><%= reg.name %></td>
                <td><%= reg.college %></td>
                <td>
                  <% reg.events.each do |e| %>
                    <%= e.name %>,
                  <% end%>
                </td>
                <td><%= reg.amount %></td>
              </tr>
            <% end %>
          </table>

        </div>
      </div>

    </div>
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>

<script type="text/javascript">
 var events = [{
   name: 'None',
   fee: 0
 }<% @events.each do |event| %> ,
 {
   name: "<%= event.name %>",
   fee: <%= event.registration_fee %>
            }
 <% end %>
 ];

 var selectNewEvent;
 var count = 0;
 var total = 0;
 var i;
 var option;
 var len = events.length;
 var addEventLink = document.querySelector('#add-event-link');
 var selectFields = document.querySelector('#select-fields');
 var totalContainer = document.querySelector('#total-container');
 selectFields.style.display = "none";

 $('select')

 addEventLink.addEventListener('click', function(e) {
   e.preventDefault();
   selectNewEvent = document.createElement('select');
   selectNewEvent.className = "form-control";
   selectNewEvent.name = "events[]";
   count++;
   selectFields.appendChild(selectNewEvent);
   for (i = 0; i < len; i++) {
     option = document.createElement("option");
     option.value = events[i].name;
     option.text = events[i].name + ", INR " + events[i].fee;
     $(option).data('fee', events[i].fee);
     selectNewEvent.appendChild(option);
   }
   $(selectNewEvent).select2();
   selectFields.style.display = "block";
 });
 $('form').on('change', function () {
   var total = $('select option:selected').toArray().reduce(function (p, c, v) {
     return p + $(c).data('fee');
   }, 0);
   totalContainer.innerHTML = "Collect INR " + total;
 });
</script>
