<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Utsaha 2015 Registration</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Select2 -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/css/select2.min.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
     .select2.select2-container.select2-container--default {
       width: 100% !important;
       margin-top: 10px;
     }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">

  	<div class="navbar-header">
  	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar">
  	    <span class="sr-only">Toggle navigation</span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
  	    <span class="icon-bar"></span>
  	  </button>
  	  <a class="navbar-brand" href="/">Utsaha 2015 Registrations</a>
  	</div>

  	<div class="collapse navbar-collapse" id="main-navbar">
  	  <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
	    <li>
	      <%= link_to "Change your password", edit_user_registration_path %>
	    </li>
            <% end %>
            <li>
              <a href="#" id="print-page">Print</a>
            </li>
            <li>
	      <%= link_to "All Registrations", event_registrations_path %>
            </li>
            <li>
              <%= link_to "Stats", event_registrations_stats_path %>
            </li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Logged in as <strong><%= current_user.name %></strong> <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Total Due: INR <%= @total_due %></a></li>
                  <li class="divider"></li>
                  <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
            <% end %>
  	  </ul>
  	</div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <script type="text/javascript">
     var printPage = document.querySelector('#print-page');
     printPage.addEventListener('click', function(e) {
       e.preventDefault();
       window.print();
     });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-rc.1/js/select2.min.js"></script>

  </body>
</html>
